
body {
  margin: 0;
}

div#design {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  border: 3px solid black;
}

img#wall {
  display: block;
  height: auto;
  width: auto;
}

div#card-front {
  background-image: url("images/bg-card-front.png");
  float: left;
  width: 30%;
  border-radius: 25px;
  color: white;
  margin-top: 5%;
  margin-left: -25%;
  border: 3px solid black;

}

div#card-details {
  margin-left: 5%;
}


div#form-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 45%;
  float: left;
  margin-left: 5%;
  margin-top: 10%;
  border: 3px solid black;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button#confirm {
  width: 100%;
  background-color: purple;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button#confirm:hover {
  background-color: red;
}


input#exp-mm, #exp-yy {
  width: 40%;
  display: inline-block;
  float: left;
  margin: 10px;
}

div#exp {
  float: left;
  width: 35%;
}


input#cvc {
  width: 50%;
}

div#cvc {
  display: inline-block;
  float: left;
  margin-left: 10%;
}
