
body {
  margin: 0;
}

div#card-front {
  background-image: url("images/bg-card-front.png");
  float: left;
  width: 30%;
  border-radius: 25px;
  color: white;
}

div#card-back {
  background-image: url("images/bg-card-back.png");
  /* float: left; */
  width: 30%;
  /* height: 300px; */
  border-radius: 25px;
  color: white;
}

div#design {
  width: 20%;
  float: left;
  margin-top: 0;
  margin-bottom: 0;
}

div#form-div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 50%;
  float: left;
  margin-left: 20%;
  margin-top: 10%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


input#exp-mm, #exp-yy {
  width: 30%;
  display: inline-block;
  float: left;
  margin: 10px;
}



input#cvc {
  width: 50%;
}

div#exp {
  float: left;
}

div#cvc {
  float: left;
}
